/cmake-build-*/
/files/
/build/
/.idea/
/.cache/
/CMakeFiles/
/CMakeCache.txt
/Makefile
.gdb_history
.vscode
/playground
/cmake_install.cmake
/test
/small-test
/main
/slaythespire.cpython-310-x86_64-linux-gnu.so
