[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "pybind11"]
	path = pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "CommunicationMod"]
	path = CommunicationMod
	url = https://github.com/daniel-ziegler/CommunicationMod.git
